<div class="container mt-5">
  <% if (folders && folders.length > 0) { %>

  <div class="row">
    <% folders.forEach(function (folder) { %>
    <div class="col-md-4">
      <div class="card mb-4">
        <% if (folder.previewImageUrl) { %>
        <img
          src="<%= folder.previewImageUrl %>"
          class="card-img-top"
          alt="<%= folder.name %>"
        />
        <% } else { %>
        <div
          class="card-img-top d-flex align-items-center justify-content-center bg-light"
          style="height: 200px"
        >
          <i class="bi bi-folder" style="font-size: 3rem"></i>
        </div>
        <% } %>
        <div class="card-body">
          <h5 class="card-title"><%= folder.name %></h5>
          <a href="/folder/<%= folder.id %>" class="btn btn-primary btn-block"
            >View Folder</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <a href="/folder/create" class="btn btn-success mb-4">Create Folder</a>

  <% } else { %>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">You have no folders!</h4>
      <p>Create one to start uploading</p>
    </div>
  <a href="/folder/create" class="btn btn-success">Create Folder</a>
  <% } %>
</div>
