

<div class="container mt-5">
    <div class="text-center">
      <h1>Welcome to File Uploader</h1>
      <p><a href="/log-in" class="btn btn-primary mr-2">Log In</a> or <a href="/sign-up" class="btn btn-secondary">Sign Up</a> to start uploading files</p>
    </div>
  </div>
  
